{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block namepage %}
    <h3>
        Список всех пользователей
    </h3>
{% endblock %}
{% block body %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr onclick="window.location.href='{{ path('intex_org_user_show', { 'user_id': user.id }) }}'; return false">
                <a href="{{ path('intex_org_user_show', { 'user_id': user.id }) }}">
                    <th scope="row">{{ loop.index }}</th><td>{{ user.lastname }}</td><td>{{ user.firstname }}</td><td>{{ user.middlename }}</td>
                </a>
            </tr>

        {% else %}
            <p>There are no users in this company</p>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

