{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block namepage %}
    <h3>
        Информация о пользователе
    </h3>
{% endblock %}

{% block body %}
    <ul class="list-group">

    </ul>
    <div class="show_user">
        <table class="table">
            <tr>
                <td class="name-col">Фамилия:</td><td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <td class="name-col">Имя:</td><td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <td class="name-col">Отчество:</td><td>{{ user.middlename }}</td>
            </tr>
            <tr>
                <td class="name-col">Дата рождения:</td><td>{{ user.bithday|date("m/d/Y")}}</td>
            </tr>
            <tr>
                <td class="name-col">ИНН:</td><td>{{ user.inn}}</td>
            </tr>
            <tr>
                <td class="name-col">СНИЛС:</td><td>{{ user.snils}}</td>
            </tr>
            <tr>
                <td class="name-col">Организация:</td><td><a href="{{ path('intex_org_company_show', { 'company_id': user.company.id }) }}">{{ user.company }} </a></td>
            </tr>
        </table>

    </div>

{% endblock %}