{% extends 'IntexOrgBundle::layout.html.twig' %}
{% block namepage %}
    <h3>
        {% trans %} Upload users from a XML file {% endtrans %}
    </h3>
{% endblock %}

{% block body %}

     <form name="form" method="post" action="{{ path('intex_org_user_load') }}" class="loadform" enctype="multipart/form-data">
     <div id="form">
        <div class="form-group">
            <label class="control-label required" for="form_file">
                {% trans %}Load XML file{% endtrans %}
            </label>
            <input type="file" id="form_file" name="form[file]" required="required" accept=".xml" />
        </div>
     </div>
    <input type="submit" value="{% trans %}Upload Document{% endtrans %}"  class="btn btn-default" id="up_submit" />

    {% for error_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endfor %}

    {% for success_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
    {% endfor %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('js/check-file-size.js') }}"></script>
{% endblock %}