{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block namepage %}
<h3>
    Информация об организации: {{ company.name }}
</h3>
{% endblock %}

{% block body %}
    <div class="show_company">
        <table class="table">
        <tr>
            <td class="name-col" width="50%">Название организации:</td><td>{{ company.name }}</td>
        </tr>
        <tr>
            <td class="name-col">ОГРН:</td><td>{{ company.ogrn }}</td>
        </tr>
        <tr>
            <td class="name-col">ОКТМО:</td><td>{{ company.oktmo }} </td>
        </tr>

        </table>

        <div class="row">
            <div class="list-group list-group-horizontal">
                <a class="list-group-item" href="{{  path('intex_org_company_users',{ 'companyId': company.id })}}">Show company users</a>
                <a class="list-group-item" href="{{  path('intex_org_user_new',{ 'companyId': company.id })}}">Add user in company</a>
            </div>
        </div>
    </div>

{% endblock %}