{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block body %}
    <div class="show_company">
        <table>
        <tr>
            <td>Название организации:</td><td>{{ company.name }}</td>
        </tr>
        <tr>
            <td>ОГРН:</td><td>{{ company.ogrn }}</td>
        </tr>
        <tr>
            <td>ОКТМО:</td><td>{{ company.oktmo }} </td>
        </tr>

        </table>
            <li><a href="{{  path('intex_org_company_users',{ 'company_id': company.id })}}">Show company users</a></li>
            <li><a href="{{  path('intex_org_user_new',{ 'company_id': company.id })}}">Add user in company</a></li>
            <li><a href="{{  path('intex_org_user_upload')}}">Upload users</a></li>

        </div>
    </div>

{% endblock %}